<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @configuracao.descricao %>
</p>


<%= link_to 'Edit', edit_configuracao_path(@configuracao) %> |
<%= link_to 'Back', configuracoes_path %>
